
/* root  */
:root {
    --brand-color: #2196F3;

}
.all-body {
    font-family: Roboto, 'Times New Roman', Times, serif ;
    color: #212121;
}
/* Стили для body */
.all-body a:visited {
text-decoration: none;
color: none;
}


.all-body a { 
text-decoration: none;
}

.all-body h2 {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 36px ;
font-weight: 700;
text-align: center;    
}
.all-body h3 {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 700;
}

/* Логотип  */
.main-logo {
font-family: Raleway, Arial, Helvetica, sans-serif ;
font-size: 26px ;
font-weight: 700;
color:var(--brand-color) ;
}


.logo {
color: #2196F3;
}

.studio-up{
    color: black;
}

.studio-down {
    color: #F5F4FA;
}


/* Стили header */
.heder-navigation {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 500; 
color: black;
}


.navigation-link{
color:black;
text-decoration: none;
}

.navigation-link:hover {
color:#2196F3;
}
.navigation-link:focus {
color:#2196F3;
}

.navigation-contacts{
color: #757575;
text-decoration: none;
}
.navigation-contacts:hover {
color: #2196F3;
}
.navigation-contacts:focus {
color: #2196F3;
}




/* кнопка "заказать услугу" */
.order-button {
background-color:var(--brand-color);
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px;
font-weight: 900;
color: white;
margin: 0 auto;
display: block;
cursor: pointer;
}

/* Титульный текст */
.page-title {
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 44px ;
font-weight: 900;
text-align: center;
color:white;    
}

.main-title {
    background-color: #2F303A;
}



.our-advantage-text p {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 400;    
} 


.our-team {
background-color: #F5F4FA;
}

.our-team-title {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 36px ;
font-weight: 700;
}
.worker-name , .project-name {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px ;
font-weight: 500;
text-align: center;
}

.worker-specialization , .project-specialization  {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px ;
font-weight: 400;
color: #757575;
text-align: center;
}

/* Стили footer */

.down-block {
    color: #F5F4FA;
}

.footer-address {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 400;
font-style: normal;
color: white;    
}

.footer-contacts {
text-decoration: none;
color: #757575;
}

.footer-contacts:hover {
color:var(--brand-color) ;
}
.footer-contacts:focus {
color:var(--brand-color) ;
}



footer {
    background-color: #2F303A;
}



/* исключительно для портфолио  */

.filter-button{
background-color: #F5F4FA;
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px;
font-weight: 500;
color:black;  
}

.filter-button button:hover {
    color: white;
    background-color:var(--brand-color);
    cursor: pointer;
}
.filter-button button:active {
    color: white;
    background-color:var(--brand-color);
    cursor: pointer;
}

