

:root {
    --brand-color: #2196F3;
}
.all-body {
    font-family: Roboto, 'Times New Roman', Times, serif ;
    /* background-color: #EEEEEE; */
    color: #212121;
}



.all-body a:visited {
text-decoration: none;
color: none;
}


.all-body a { 
text-decoration: none;
}

.all-body h2 {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 36px ;
font-weight: 700;
text-align: center;    
}
.all-body h3 {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 700;
}
.main-logo {
font-family: Raleway, Arial, Helvetica, sans-serif ;
font-size: 26px ;
font-weight: 700;
color:var(--brand-color) ;
}

.logo {
color: #2196F3;
}

.main-logo span {
font-family: Raleway, Arial, Helvetica, sans-serif ;
font-size: 26px ;
font-weight: 700;
color:black;
}


.heder-nav {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 500; 
color: black;
}

.nav-address{
color: #757575;
text-decoration: none;
}
.nav-address:hover {
color: #2196F3;
}
.nav-address:focus {
color: #2196F3;
}

.nav-nav{
color:black;
text-decoration: none;
}

.nav-nav:hover {
color:#2196F3;
}
.nav-nav:focus {
color:#2196F3;
}




.our-advantage-text p {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 400;    
} 



.our-team {
background-color: #F5F4FA;
}

.our-team-title {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 36px ;
font-weight: 700;
}
.spec-name {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px ;
font-weight: 500;
text-align: center;
}

.specialization {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px ;
font-weight: 400;
color: #757575;
text-align: center;
}

.footer address {
font-family: Roboto, Arial, Helvetica, sans-serif ;
font-size: 14px ;
font-weight: 400;
font-style: normal;
color: white;    
}

.footer-a a {
text-decoration: none;
color: #757575;
}

.footer-a a:hover {
color:var(--brand-color) ;
}
.footer-a a:focus {
color:var(--brand-color) ;
}

.main-black-section {
    background-color: #2F303A;
}


.main-pre {
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 44px ;
font-weight: 900;
text-align: center;
color:white;    
}

.button-order {
background-color:var(--brand-color);
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px;
font-weight: 900;
color: white;
margin: 0 auto;
display: block;
cursor: pointer;
}


footer {
    background-color: #2F303A;
}

.main-logo-footer {
 font-family: Raleway, Arial, Helvetica, sans-serif ;
font-size: 26px ;
font-weight: 700;
color:var(--brand-color) ;
}

.main-logo-footer span {
    color: white;
}

/* исключительно для портфолио  */

.button-span-p button{
background-color: #F5F4FA;
font-family:Roboto, Arial, Helvetica, sans-serif ;
font-size: 16px;
font-weight: 500;
color:black;  
}

.button-span-p button:hover {
    color: white;
    background-color:var(--brand-color);
    cursor: pointer;
}
.button-span-p button:active {
    color: white;
    background-color:var(--brand-color);
    cursor: pointer;
}

